@model string

@{
    ViewData["Title"] = "Forgot Password";
}





<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.ForgotPasswordStatus))
    {
        <div class="alert alert-info" role="alert">
            @ViewBag.ForgotPasswordStatus
        </div>
    }
    <form method="post" class="mx-auto" style="width: 300px;">
        <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" id="inputEmail" name="userEmail" placeholder="Enter your email">
            <label for="inputEmail">User Name</label>
            <input type="text" class="form-control" id="inputEmail" name="userName" placeholder="Enter your username">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
