@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<title>Forgot PassWord</title>

<div class="alert alert-success text-center" role="alert" style="max-width: 400px; margin: 0 auto;">
    Your new password has been generated successfully. Please use the following password to log in: <strong>@ViewBag.GeneratedPassword</strong>
</div>
