@model Report.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
        <h2 class="text-center">Xoá tài khoản</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
                Tên người dùng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
                Mật khẩu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt class="col-sm-2">
                Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class="col-sm-2">
                Phân quyền
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRole)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>

</body>
</html>